.App {text-align: center;display: flex; flex-direction: column;}

.navbar { display: flex; background-color: #011638; position: fixed; width: 100vw}

.ncclogopic { margin-left: 10px; object-fit: fill; width: 80px;}

.navbtndiv{margin-left: 70%;margin-top: 3%; }

.navoptpic{width: 40px; border-radius: 4px;}

.navbtn{height: 50px; width: 50px; background-color: #ffffff00; border: none; padding: 0%;}

.navbtn:hover{background-color: #ffffff34; border-radius: 4px;}

.navbtn:active{background-color: #ffffff4d; border-radius: 4px;}


.about{margin-top:75px;}

.camps{margin-top:75px;}